//colors
$grey: #333333;
$tomato : #ff420e;
$stem: #34675c;

//nav colors
$nav-background : $stem;
$nav-text-color: white;
$nav-link-color: white;
$personal-item-background: rgba(136, 191, 133, 0.94);
$light-color: #fafafa;
