.item {
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: 1rem;
  border: 1px solid $stem;
  border-radius:5px;
  transition: background .3s ease;

  &:hover {
    background: #f0f0f0;
  }
}
